{{!-- <h1>Login</h1>

<form action="/users/login" method="post">
    Email<input type="text" name="email" id=""/>
    Password<input type="password" name="password" id=""/>
    <input type="submit" value="REGISTER">
</form>

<h2>New user?</h2>
<button onclick="location.href='/register'">Register here</button> --}}